/* This file is part of Flus Browser */
/* Copyright 2020-2025 Marien Fressinaud */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

/* Home page footer */
.fl-page-footer {
    text-align: center;
}

.fl-page-footer .copyright {
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
}

/* Forms */
.form-group.form-group-radios label {
    display: inline-block;
}
.form-group.form-group-radios label + label {
    margin-left: 1.5rem;
}

/* Auth form */
.formLogin form #use-username-info {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: .5rem;
}

/* Support form */
.fl-support-form input {
    width: 100%;
    box-sizing: border-box;
}

.fl-support-form textarea {
    width: 100%;
    min-height: 250px;
    box-sizing: border-box;
}
