/* Forms */
.form-group.form-group-radios label {
    display: inline-block;
}
.form-group.form-group-radios label + label {
    margin-left: 1.5rem;
}

/* Auth form */
.formLogin form #use-username-info {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: .5rem;
}

/* Address form */
.fl-address-form .form-group {
    margin-bottom: .5rem;
}

.fl-address-form input.short {
    width: 90px;
}
.fl-address-form input.medium {
    width: 206px;
}

/* Support form */
.fl-support-form input {
    width: 100%;
}

.fl-support-form textarea {
    width: 100%;
    min-height: 250px;
}
